@media (min-width: 0) and (max-width:$sm) {
  .tags {
    .posts {
      justify-content: center;
    }

    .tag_content {
      .tag {
        margin-right: 15px;
      }
    }

    .posts>div {
      margin-right: 0px;
    }
  }
}
