@import "~/assets/css/vars.scss";
@import "~/components/page-parts/Header/css/media/sm.scss";
@import "~/components/page-parts/Header/css/media/md-lg.scss";
@import "~/components/page-parts/Header/css/media/xs.scss";

header {
  //position: relative;
  //background: url("/fon_bw.png") no-repeat 0% 40%;
  //background-size: cover;
  font-family: $font;
  width: 100%;
  height: $header_height;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 55px;

  //box-sizing: content-box;
  .menu {
    display: flex;
    justify-content: start;

    color: white;
    font-size: 13px;
    font-weight: 500;

    .elem {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      height: 40px;
      margin-left: 35px;

      i {
        margin-top: 3px;
        font-style: normal;
        color: #98393f;
        margin-right: 3px;
        line-height: 12px;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .elem:first-child {
      margin-left: 0px;
    }
  }

  .search {
    color: white;
    font-family: $font;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 13px;

    img {
      width: 13px;
      margin-right: 5px;
    }
  }
}




//tooltip

.tooltip {
  display: block !important;
  z-index: 10000;
  font-size: 12px;
  text-align: center;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
