@media (min-width: 0) and (max-width:$sm) {
  header .menu {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 15px;
    padding-left: 30px;
  }

  header .menu .elem {
    height: 50px !important;
  }

  header .menu::-webkit-scrollbar {
    display: none;
  }
}
