/*@import "~/assets/css/vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fenix&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
*/
//@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "~/assets/css/vars.scss";

.newsAttr {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

/*@font-face {
  font-family: "messapia"; 
  font-weight: 400;
  src: url("~../../assets/fonts/messapia/Messapia-Regular.woff2");
}*/
a {
  text-decoration: none !important;
}

a:visited {
  color: inherit !important;
}

.main_cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0px 150px;
  box-sizing: content-box;
  background-color: #1b1b1b;

  .container {
    width: $width_lg;
    min-height: 2000px;
    max-width: 100vw;
    overflow-x: hidden;
  }
}


@font-face {
  font-family: 'messapia';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/messapia/Messapia-Bold.woff2");
}

html {
  overflow-x: hidden !important;
  width: 100vw;
}
