$width_lg:100%;
$header_height:60px;
/*@font-face {
    font-family:'Messapia';
    font-style: normal;
    font-weight: 800;
    src: url("~../assets/fonts/messapia/Messapia-Bold.woff2") format('woff2'); 
}*/
$inter:'Inter',
sans-serif;
$mesapia:'messapia';

$main_mg-top:105px;
