@media (min-width: $sm) and (max-width: $md) {
  .smallNews .largeFont {
    font-size: 56px;
  }

  .smallNews .smallFont {
    font-size: 30px;
  }

  .SquarePost {
    max-width: 815px;
    width: 63vw;
  }

  .SquarePost .img {
    max-height: 730px;
    height: 68vw;
  }

  .SmallPost {
    max-width: 350px;
    width: 47%;
  }

  .SmallPost .img {
    height: 275px;
  }

  .MainPost {
    max-width: 870px;
    width: 100%;
  }

  .MainPost .img {
    max-height: 500px;
    height: 50vh;
  }

}
